@font-face {
    font-family: 'Futura PT';
    src: local('Futura PT Bold'), local('FuturaPT-Bold'),
        url('FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
        url('FuturaPT-Bold.woff2') format('woff2'),
        url('FuturaPT-Bold.woff') format('woff'),
        url('FuturaPT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: local('Futura PT Heavy'), local('FuturaPT-Heavy'),
        url('FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'),
        url('FuturaPT-Heavy.woff2') format('woff2'),
        url('FuturaPT-Heavy.woff') format('woff'),
        url('FuturaPT-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Demi';
    src: local('Futura PT Demi Oblique'), local('FuturaPT-DemiObl'),
        url('FuturaPT-DemiObl.eot?#iefix') format('embedded-opentype'),
        url('FuturaPT-DemiObl.woff2') format('woff2'),
        url('FuturaPT-DemiObl.woff') format('woff'),
        url('FuturaPT-DemiObl.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Cond Extra';
    src: local('Futura PT Cond Extra Bold Oblique'), local('FuturaPTCond-ExtraBoldObl'),
        url('FuturaPTCond-ExtraBoldObl.eot?#iefix') format('embedded-opentype'),
        url('FuturaPTCond-ExtraBoldObl.woff2') format('woff2'),
        url('FuturaPTCond-ExtraBoldObl.woff') format('woff'),
        url('FuturaPTCond-ExtraBoldObl.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Cond Book';
    src: local('Futura PT Cond Book'), local('FuturaPTCond-Book'),
        url('FuturaPTCond-Book.eot?#iefix') format('embedded-opentype'),
        url('FuturaPTCond-Book.woff2') format('woff2'),
        url('FuturaPTCond-Book.woff') format('woff'),
        url('FuturaPTCond-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: local('Futura PT Light Oblique'), local('FuturaPT-LightObl'),
        url('FuturaPT-LightObl.eot?#iefix') format('embedded-opentype'),
        url('FuturaPT-LightObl.woff2') format('woff2'),
        url('FuturaPT-LightObl.woff') format('woff'),
        url('FuturaPT-LightObl.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Book';
    src: local('Futura PT Book Oblique'), local('FuturaPT-BookObl'),
        url('FuturaPT-BookObl.eot?#iefix') format('embedded-opentype'),
        url('FuturaPT-BookObl.woff2') format('woff2'),
        url('FuturaPT-BookObl.woff') format('woff'),
        url('FuturaPT-BookObl.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT';
    src: local('Futura PT Heavy Oblique'), local('FuturaPT-HeavyObl'),
        url('FuturaPT-HeavyObl.eot?#iefix') format('embedded-opentype'),
        url('FuturaPT-HeavyObl.woff2') format('woff2'),
        url('FuturaPT-HeavyObl.woff') format('woff'),
        url('FuturaPT-HeavyObl.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: local('Futura PT Cond Bold Oblique'), local('FuturaPTCond-BoldObl'),
        url('FuturaPTCond-BoldObl.eot?#iefix') format('embedded-opentype'),
        url('FuturaPTCond-BoldObl.woff2') format('woff2'),
        url('FuturaPTCond-BoldObl.woff') format('woff'),
        url('FuturaPTCond-BoldObl.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Demi';
    src: local('Futura PT Demi'), local('FuturaPT-Demi'),
        url('FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),
        url('FuturaPT-Demi.woff2') format('woff2'),
        url('FuturaPT-Demi.woff') format('woff'),
        url('FuturaPT-Demi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Cond Book';
    src: local('Futura PT Cond Book Oblique'), local('FuturaPTCond-BookObl'),
        url('FuturaPTCond-BookObl.eot?#iefix') format('embedded-opentype'),
        url('FuturaPTCond-BookObl.woff2') format('woff2'),
        url('FuturaPTCond-BookObl.woff') format('woff'),
        url('FuturaPTCond-BookObl.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Extra';
    src: local('Futura PT Extra Bold'), local('FuturaPT-ExtraBold'),
        url('FuturaPT-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('FuturaPT-ExtraBold.woff2') format('woff2'),
        url('FuturaPT-ExtraBold.woff') format('woff'),
        url('FuturaPT-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: local('Futura PT Cond Medium'), local('FuturaPTCond-Medium'),
        url('FuturaPTCond-Medium.eot?#iefix') format('embedded-opentype'),
        url('FuturaPTCond-Medium.woff2') format('woff2'),
        url('FuturaPTCond-Medium.woff') format('woff'),
        url('FuturaPTCond-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: local('Futura PT Medium'), local('FuturaPT-Medium'),
        url('FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
        url('FuturaPT-Medium.woff2') format('woff2'),
        url('FuturaPT-Medium.woff') format('woff'),
        url('FuturaPT-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Cond Extra';
    src: local('Futura PT Cond Extra Bold'), local('FuturaPTCond-ExtraBold'),
        url('FuturaPTCond-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('FuturaPTCond-ExtraBold.woff2') format('woff2'),
        url('FuturaPTCond-ExtraBold.woff') format('woff'),
        url('FuturaPTCond-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: local('Futura PT Medium Oblique'), local('FuturaPT-MediumObl'),
        url('FuturaPT-MediumObl.eot?#iefix') format('embedded-opentype'),
        url('FuturaPT-MediumObl.woff2') format('woff2'),
        url('FuturaPT-MediumObl.woff') format('woff'),
        url('FuturaPT-MediumObl.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: local('Futura PT Cond Bold'), local('FuturaPTCond-Bold'),
        url('FuturaPTCond-Bold.eot?#iefix') format('embedded-opentype'),
        url('FuturaPTCond-Bold.woff2') format('woff2'),
        url('FuturaPTCond-Bold.woff') format('woff'),
        url('FuturaPTCond-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: local('Futura PT Bold Oblique'), local('FuturaPT-BoldObl'),
        url('FuturaPT-BoldObl.eot?#iefix') format('embedded-opentype'),
        url('FuturaPT-BoldObl.woff2') format('woff2'),
        url('FuturaPT-BoldObl.woff') format('woff'),
        url('FuturaPT-BoldObl.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Book';
    src: local('Futura PT Book'), local('FuturaPT-Book'),
        url('FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
        url('FuturaPT-Book.woff2') format('woff2'),
        url('FuturaPT-Book.woff') format('woff'),
        url('FuturaPT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: local('Futura PT Light'), local('FuturaPT-Light'),
        url('FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
        url('FuturaPT-Light.woff2') format('woff2'),
        url('FuturaPT-Light.woff') format('woff'),
        url('FuturaPT-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: local('Futura PT Cond Medium Oblique'), local('FuturaPTCond-MediumObl'),
        url('FuturaPTCond-MediumObl.eot?#iefix') format('embedded-opentype'),
        url('FuturaPTCond-MediumObl.woff2') format('woff2'),
        url('FuturaPTCond-MediumObl.woff') format('woff'),
        url('FuturaPTCond-MediumObl.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Extra';
    src: local('Futura PT Extra Bold Oblique'), local('FuturaPT-ExtraBoldObl'),
        url('FuturaPT-ExtraBoldObl.eot?#iefix') format('embedded-opentype'),
        url('FuturaPT-ExtraBoldObl.woff2') format('woff2'),
        url('FuturaPT-ExtraBoldObl.woff') format('woff'),
        url('FuturaPT-ExtraBoldObl.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Futura PT', sans-serif;
}

span {
    font-family: 'Futura PT';
    color: #fff;
    font-weight: 200;
}

button {
    border-style: none;
    border-width: 0px;
    outline: 0;
    font-family: 'Futura PT' !important;
    font-weight: bold;
    font-size: 13px;
    width: 123px;
    height: 42px;
    padding: 0px !important;
}



/* HEADER */

.header {
    background-color: #fff;
    display: flex;
    justify-content: center;
    box-shadow: 0px -4px 9px 3px #0000001f;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.header_gray {
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    box-shadow: 0px -4px 9px 3px #0000001f;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.header-content {
    width: 1152px;
    padding: 22px 40px 10px;
    height: 93px;
    margin: 0 auto;
}

.header-content_gray {
    width: 1152px;
    padding: 18px 40px 10px;
    height: 80px;
    margin: 0 auto;
}

.header-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #B8B8B8;
}

.line {
    color: #B8B8B8; 
}

.header-content-wrapper span {
    font-family: 'Futura PT Book';
    font-size: 16px;
    line-height: 21px;
    text-align: right;
    color: #252525;
}

.header-content-wrapper__logo {
    display: flex;
    align-items: center;
    margin: 0px;
    width: 14%;
}

.header-content-wrapper__logo a {
    height: 42px;
}

.header-content-wrapper__links {
    display: flex;
    width: 50%;
}

.header-content-wrapper__links ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.header-content-wrapper__links li {
    list-style: none;
}

.header-content-wrapper__links a {
    text-decoration: none;
    font-family: 'Futura PT Book';
    font-size: 16px;
    padding: 3px 0;
    color: #000;
    
}

.header-content-wrapper__links a:hover {
    border-bottom: 2px solid #FF473D;
    color: #FF473D;
    transition: 0.5s;
}

.header-content-wrapper__lang {
    display: flex;
    align-items: center;
    width: 9%;
    justify-content: flex-end;
}

.header-content-wrapper__lang img {
    margin-right: 8px;
}

.header-content-wrapper__location {
    display: flex;
    align-items: center;
    width: 7%;
    justify-content: center;
}

.header-content-wrapper__location img {
    margin-right: 8px;
}

.button-wrapper {
    display: flex;
    align-items: center;
}

.reserve-button {
    padding: 10px 22px;
    background-color: #FF473D;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    border-width: 0px !important;
}


/* BANNER DESKTOP */



.banner-desktop {
    background: url(img/banner_fon.png) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.banner-desktop-content-wrapper {
    display: flex;
    width: 1152px;
    padding: 20px 40px;
    justify-content: space-between;
}

.banner-desktop-content-wrapper__first {
    display: flex;
    justify-content: space-between;
    width: 61%;
}

.banner-desktop-content-wrapper__first-content-image {
    display: flex;
    align-items: center;
    width: 26%;
}

.banner-desktop-content-wrapper__first-content-image img {
    width: 129px;
}

.banner-desktop-content-wrapper__first-content-text_mobile {
    display: block;
    justify-content: space-between;
    align-items: center;
    font-family: 'Futura PT Book';
    font-size: 18px;
    line-height: 113.6%;
    color: #FFFFFF;
    width: 36%;
    margin: auto 0;
}


.banner-desktop-content-wrapper__first-content-text_mobile-text:nth-last-child(2) {
    margin-bottom: 10px;
}

.banner-desktop-content-wrapper__first-content-text_mobile-text:nth-last-child(4) {
    margin-top: 10px;
}

.banner-desktop-content-wrapper__first-content-text_mobile p {
    font-family: 'Futura PT';
    font-size: 24px;
    line-height: 113.6%;
    font-weight: bold;
    color: #FFFFFF;
}

.banner-desktop-content-wrapper__first-content-text_mobile span {
    font-family: 'Futura PT';
    font-size: 18px;
    line-height: 113.6%;
    font-weight: bold;
    color: #FFFFFF;
    margin: 0px 5px 0px 0px;
}

.banner-desktop-content-wrapper__second {
    width: 23%;
    padding: 47px 0px;
}


.banner-desktop-content-wrapper__second-text p {
    font-family: 'Futura PT';
    font-size: 18px;
    line-height: 113.6%;
    font-weight: bold;
    color: #FFFFFF;
    margin: 0px 5px 0px 0px;
}

.banner-desktop-content-wrapper__second-text_mobile {
    display: flex;
    margin-top: 125px;
}

.banner-desktop-content-wrapper__second-text_mobile img {
    width: 80px;
}

.banner-desktop-content-wrapper__second-text_mobile-text {
    display: block;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    font-family: 'Futura PT Book';
    font-size: 20px;
    line-height: 113.6%;
    color: #FFFFFF;
    margin-bottom: 0px;
}

.banner-desktop-content-wrapper__second-text_mobile-text span {
    font-family: 'Futura PT';
    font-size: 24px;
    line-height: 34px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 10px;
}



/* MAIN PAGE */

.all-quests {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
}

.all-quests .container {
    width: 1152px;
    margin: 0 auto;
    background: url(img/Quests.png) no-repeat;
    background-position: 45px 26px;
}

.all-quests__wrapper {
    padding: 39px 41px 65px;
}

.all-quests__heading {
    font-family: 'Futura PT';
    font-size: 30px;
    line-height: 38px;
    color: #252525;
    font-weight: bold;
    margin-bottom: 7px;
}

.all-quests__quest-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.quest-item {
    width: 518px;
    height: 259.15px;
    box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.13);
    border-radius: 20px;
    margin: 20px 0px;
    background: url(img/Rectangle312.png);
    position: relative;
    background-position: center;
    display: flex;

}

.quest-item__two {
    width: 518px;
    height: 259.15px;
    box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.13);
    border-radius: 20px;
    margin: 20px 0px;
    background: url(img/Rectangle\ 3.14.png);
    position: relative;
    background-position: center;
    display: flex;

}

.quest-item__three {
    width: 518px;
    height: 259.15px;
    box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.13);
    border-radius: 20px;
    margin: 20px 0px;
    background: url(img/Rectangle\ 3.16.png);
    position: relative;
    background-position: center;
    display: flex;

}

.quest-item__four {
    width: 518px;
    height: 259.15px;
    box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.13);
    border-radius: 20px;
    margin: 20px 0px;
    background: url(img/Rectangle\ 3.18.png);
    position: relative;
    background-position: center;
    display: flex;

}

.quest-item__description {
    width: 53%;
    height: 98.6%;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 20px;
    padding: 18px 0px 0px 27px;
}

.quest-item__description_even {
    width: 53%;
    height: 98.6%;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 20px;
    padding: 18px 0px 0px 27px;
}

.quest-item__heading {
    font-weight: 700;
    font-size: 24px;
}

.quest-item__complexity {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.quest-item__complexity span {
    font-size: 20px;

}

.quest-item__complexity-spanline {
    margin: 0px 9px;
}

.material-icons {
    font-size: 19px;
}

.quest-item__complexity_locked {
    color: #fff;
}

.quest-item__complexity_unlocked {
    color: rgba(255, 255, 255, .7);
}

.quest-item__contacts-adress {
    display: flex;
}

.quest-item__contacts-phone {
    display: flex;
}

.quest-item__contacts-quantity {
    display: flex;
}

.quest-item__contacts span {
    margin-left: 20px;
    font-family: 'Futura PT';
    font-weight: 200;
    font-size: 14px;
}

.quest-item__contacts div {
    margin-bottom: 12px;
}

.quest-item__right-side {
    width: 46%;
    height: 100%;
}

.quest-item__right-side_logo {
    margin-bottom: 90px;
}

.quest-item__right-side_logo img {
    padding: 21px 0px 0px 138px;
}

.quest-item__right-side_button-wrapper {
    display: flex;
    align-items: center;
    padding-left: 100px;
}


/*All Quests Second section*/


.all-quests_second {
    background-color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.all-quests_second .container {
    width: 1152px;
    margin: 0 auto;
    background: url(img/Quests.png) no-repeat;
    background-position: 45px 26px;
}

.quest-for__wrapper {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.quest-for__wrapper-item {
    background: #FFFFFF;
    box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    width: 242px;
    height: 477.27px;
}

.quest-for__wrapper-item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 35px;
}

.quest-for__wrapper-item-description {
    margin: 22px auto 0px;
    width: 184px;
}

.quest-for__wrapper-item-description span {
    color: #252525;
    font-family: 'Futura PT';
    font-weight: bold;
    font-size: 20px;
}

.quest-for__wrapper-item-description p {
    font-size: 14px;
    font-weight: 200;
    padding-top: 17px;
    letter-spacing: 0.23px;
}


/*Gallery*/

.page-block {
    background-color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 40px;
}

.page-block .container {
    width: 1152px;
    margin: 0 auto;
    background: url(img/Galerie.png) no-repeat;
    background-position: 45px 26px;
}

.page-block__gallery-wrapper-heading {
    font-family: 'Futura PT';
    font-size: 30px;
    line-height: 38px;
    color: #252525;
    font-weight: bold;
    margin-bottom: 12px;
}

.page-block__gallery-wrapper {
    padding: 15px 41px 30px;
}

.page-block__gallery-wrapper-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.page-block__gallery-wrapper-info {
    display: flex;
    align-items: center;
    margin-bottom: 39px;
}

.page-block__gallery-wrapper-info img {
    width: 52px;
    filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.08));
    margin-right: 20px;
}

.page-block__gallery-wrapper-info span {
    font-family: 'Futura PT';
    font-weight: bold;
    font-size: 14px;
    color: #000;
}

.page-block__gallery-wrapper-item {
    width: 242px;
}


.page-block__gallery-wrapper-item-photo {
    width: 242px;
    height: 242px;
    box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.13);
    border-radius: 20px;
    margin-bottom: 14px;
    padding: 5px 0px;
    background: url(img/Rectangle\ 3.4.png);
    position: relative;
    background-position: center;
    display: flex;
    align-items: flex-end;
}

.page-block__gallery-wrapper-item-photo_second {
    width: 242px;
    height: 242px;
    box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.13);
    border-radius: 20px;
    margin-bottom: 14px;
    padding: 5px 0px;
    background: url(img/Rectangle\ 3.16\ —\ копия.png);
    position: relative;
    background-position: center;
    display: flex;
    align-items: flex-end;
}

.page-block__gallery-wrapper-item-photo_third {
    width: 242px;
    height: 242px;
    box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.13);
    border-radius: 20px;
    margin-bottom: 14px;
    padding: 5px 0px;
    background: url(img/Rectangle\ 3.20.png);
    position: relative;
    background-position: center;
    display: flex;
    align-items: flex-end;
}

.page-block__gallery-wrapper-item-photo_fours {
    width: 242px;
    height: 242px;
    box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.13);
    border-radius: 20px;
    margin-bottom: 14px;
    padding: 5px 0px;
    background: url(img/Rectangle\ 3.19.png);
    position: relative;
    background-position: center;
    display: flex;
    align-items: flex-end;
}

.page-block__gallery-wrapper-item-photo-info {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 23px;
    width: 100%;
    height: 32%;
    padding: 16px 27px 12px 19px;
}


.page-block__gallery-wrapper-item-photo-info p {
    font-family: 'Futura PT';
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
}

.page-block__gallery-wrapper-item-photo-info span {
    font-family: 'Futura PT';
    font-size: 18px;
    font-weight: 200;
    color: #FFFFFF;
    letter-spacing: 0.2px;
}

.page-block__gallery-wrapper-item-likes {
    display: flex;
    justify-content: flex-end;
}

.page-block__gallery-wrapper-item-likes-items {
    display: flex;
    align-items: center;
    width: 45%;
    justify-content: flex-end;
}

.page-block__gallery-wrapper-item-likes-items span {
    font-family: 'Futura PT';
    font-size: 14px;
    font-weight: 200;
    color: #000;
    margin-left: 4px;
}

.page-block__gallery-wrapper-item-likes-items img {
    margin-left: 15px;
}

.button-wrapper__follow-us {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 52px;
}

.follow-us__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 42px;
    background-color: #3D7689;
    box-shadow: 13px 10px 26px rgba(0, 0, 0, 0.07);
    color: #fff;
    border-radius: 37px;
    cursor: pointer;
}

.follow-us__button img {
    margin-left: 11px;
}

.follow-us__button p {
    font-family: 'Futura PT';
    font-weight: bold;
    font-size: 14px;
}


/* Reviews */

.reviews__heading {
    display: flex;
    justify-content: center;
    max-width: 1152px;
    margin: 0 auto;
}

.reviews__heading p {
    font-family: 'Futura PT';
    font-size: 30px;
    line-height: 38px;
    color: #252525;
    font-weight: bold;
    margin-bottom: 43px;
}

.reviews__block-photo {
    background: #F1F1F1;
}

.reviews__block-photo-container {
    display: flex;
    align-items: center;
    max-width: 1152px;
    height: 402px;
    position: relative;
    margin: 0 auto 140px;
}

.reviews__block-photo-container-item-tripadvisor-placeholder {
    position: absolute;
    top: 10px;
    left: 20px;
}

.reviews__block-photo-container-item-one {
    position: absolute;
    top: 27px;
    left: 650px;
}

.reviews__block-photo-container-item-one img {
    max-width: 310px;
    max-height: 334px;
}

.reviews__block-photo-container-item-two {
    position: absolute;
    top: 80px;
    left: 846px;
}

.reviews__block-photo-container-item-two img {
    max-width: 284px;
    max-height: 316px;
}

.reviews__block-photo-container-item-three {
    position: absolute;
    top: 168px;
    left: 521px;
}

.reviews__block-photo-container-item-three img {
    max-width: 298px;
    max-height: 308px;
}

/* Matters */

.matters-block {
    background-color: #fff;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}

.matters-block .container {
    width: 1152px;
    margin: 0 auto;
    background: url(img/Was\ macht.png) no-repeat;
    background-position: 45px 26px;
    margin-bottom: 19px;
}

.matters-block-wrapper {
    padding: 11px 41px 30px;
}

.matters-block-wrapper p {
    font-family: 'Futura PT';
    font-size: 30px;
    line-height: 38px;
    color: #252525;
    font-weight: bold;
    margin-bottom: 25px;
}

.matters-block-wrapper__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.matters-block-wrapper__items-item {
    width: 31%;
    background: #FFFFFF;
    box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.05);
    border-radius: 19px;
    padding: 20px 23px 5px 20px;
}

.matters-block-wrapper__items-item-heading {
    display: flex;
    align-items: center;
}

.matters-block-wrapper__items-item-heading span {
    font-family: 'Futura PT';
    font-weight: 500;
    color: #000;
    font-size: 18px;
    margin-right: 7px;
}

.matters-block-wrapper__items-item-heading i {
    color: #E9A556;
    font-size: 10px;
    padding-top: 5px;
}

.matters-block-wrapper__items-item p {
    font-size: 14px;
    font-weight: 200;
    font-family: 'Futura PT';
    line-height: 18px;
    color: #252525;
}

.matters-block-wrapper__offer {
    margin: 50px 0px 37px;
    display: flex;
    justify-content: space-between;
}

.matters-block-wrapper__offer-description {
    width: 44%;
    height: 217px;
}

.matters-block-wrapper__offer-description p {
    font-size: 14px;
    font-weight: 200;
    font-family: 'Futura PT';
    line-height: 18px;
    color: #252525;
    letter-spacing: 0.4px;
}

.matters-block-wrapper__offer-prices {
    width: 52%;
    height: 217px;
    background: #FFFFFF;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding: 20px 31px 21px 24px;
}

.matters-block-wrapper__offer-prices-heading p {
    font-family: 'Futura PT Demi';
    font-size: 18px;
    margin: 0px 0px 15px;
    line-height: 23px;
}

.matters-block-wrapper__offer-prices hr {
    border: 1px solid #ECECEC;
    margin-bottom: 20px;
}

.matters-block-wrapper__offer-prices-choise {
    display: flex;
    justify-content: space-between;
}

.matters-block-wrapper__offer-prices-choise-leftside {
    width: 25%;
}

.matters-block-wrapper__offer-prices-choise-leftside p {
    font-size: 14px;
    font-weight: 200;
    font-family: 'Futura PT';
    color: #969696;
    margin: 30px 0px 0px;
    line-height: 18px;

}

.matters-block-wrapper__offer-prices-choise-rightside {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.matters-block-wrapper__offer-prices-choise-rightside-item {
    background: #F5F5F4;
    border-radius: 32px;
    display: inline-block;
    padding: 21px 15px;
    text-align: center;
}

.matters-block-wrapper__offer-prices-choise-rightside-item span {
    font-family: 'Futura PT';
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #252525;

}

.matters-block-wrapper__offer-prices-choise-rightside-item hr {
    border: 1px solid #E8E8E8;
    width: 20px;
    margin: 16px auto;
}

.matters-block-wrapper__offer-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.matters-block-wrapper__offer-buttons-certificate {
    margin-left: 32px;
}

.matters-block-wrapper__offer-buttons-booking-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 272px;
    height: 41px;
    border-color: #EC5850;
    border-radius: 33px;
    border-width: 1px;
    border-style: solid;
    color: #EC5850;
    font-family: 'Futura PT';
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.4px;
    cursor: pointer;
}

.matters-block-wrapper__offer-buttons-certificate-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 254px;
    height: 41px;
    background-color: #EC5850;
    border-radius: 33px;
    border-width: 1px;
    border-style: solid;
    color: #fff;
    font-family: 'Futura PT';
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.4px;
    cursor: pointer;
}


/* References */

.references {
    background-color: #fbfbfb;
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}

.references .container {
    width: 1152px;
    margin: 0 auto;
    background: url(img/Referenzen.png) no-repeat;
    background-position: 45px 26px;
    margin-bottom: 19px;
}

.references-block-wrapper {
    padding: 7px 40px 30px;
}

.references-block-wrapper p {
    font-family: 'Futura PT';
    font-size: 30px;
    line-height: 38px;
    color: #252525;
    font-weight: bold;
    margin-bottom: 35px;
}

.references-block-wrapper__items {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.references-block-wrapper__items-item {
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
    border-radius: 21px;
    max-height: 182px;
    max-width: 322px;
}

/* Kontakt */

.contacts {
    background-color: #fff;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.contacts .container {
    width: 1152px;
    margin: 0 auto;
}

.contacts-wrapper {
    padding: 60px 46px 30px;
}

.contacts-wrapper p {
    font-family: 'Futura PT';
    font-size: 30px;
    line-height: 38px;
    color: #252525;
    font-weight: bold;
    margin-bottom: 35px;
}

.contacts-wrapper-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contacts-wrapper-content__forms {
    width: 50%;
}

.contacts-wrapper-content__forms-row-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.contacts-wrapper-content__forms-row-two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.contacts-wrapper-content__forms-row-three {
    margin-bottom: 33px;
}

.contact-form-item-name {
    background: #F8F8F8;
    border-radius: 34px;
    font-family: 'Futura PT';
    font-size: 14px;
    padding: 12px 190px 12px 22px;
    color: #acacac;
    cursor: text;
}

.contact-form-item-telephone {
    background: #F8F8F8;
    border-radius: 34px;
    font-family: 'Futura PT';
    font-size: 14px;
    padding: 12px 190px 12px 22px;
    color: #acacac;
    cursor: text;
}

.contact-form-item-email {
    background: #F8F8F8;
    border-radius: 34px;
    font-family: 'Futura PT';
    font-size: 14px;
    padding: 12px 190px 12px 22px;
    color: #acacac;
    cursor: text;
}

.contact-form-item-betreff {
    background: #F8F8F8;
    border-radius: 34px;
    font-family: 'Futura PT';
    font-size: 14px;
    padding: 12px 190px 12px 27px;
    color: #acacac;
    cursor: text;
}

.contact-form-item-nachricht {
    background: #F8F8F8;
    border-radius: 17px;
    font-family: 'Futura PT';
    font-size: 14px;
    padding: 17px 451px 51px 22px;
    color: #acacac;
    cursor: text;
}

.contacts-wrapper-content__forms-regbtn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.contacts-wrapper-content__forms-regbtn-btn {
    background: #F39200;
    border-radius: 34px;
    width: 135px;
    height: 42px;
    cursor: pointer;
}


.contacts-wrapper-content__forms-regbtn-btn span {
    font-family: 'Futura PT';
    font-size: 13px;
    font-weight: bold;
    line-height: 18px;
}



/* quest-page */


.quest-page .container {
    width: 1152px;
    margin: 0 auto;
}

.quest-page__wrapper {
    padding: 20px 41px 0px;
    margin-bottom: 20px;
}

.quest-page__wrapper p {
    margin-bottom: 19px;
}

.quest-page__details {
    display: flex;
}

.quest-page__details-photo {
    max-width: 60%;
    margin-right: 44px;
}

.quest-page__details-specification {
    max-width: 39%;

}

.quest-page__details-specification_about {
    margin-bottom: 35px;
}

.about-quest__header {
    font-size: 24px;
    font-weight: bold;
    color: #252525;
    margin-bottom: 23px;
    line-height: 20px;
}

.quest-page__details-specification_about p {
    margin-top: 23px;
    font-weight: 200;
    font-family: 'Futura PT';
    font-size: 14px;
    line-height: 21px;
    word-spacing: 1px;
}

.quest-page__details-specification_about hr {
    margin-top: 38px;
    width: 17px;
    border: 1px solid #C4C4C4;
}

.facts-header {
    font-size: 24px;
    font-weight: bold;
    color: #252525;
    margin-bottom: 26px;
}

.quest-page__details-specification_facts-icons {
    background: #FFFFFF;
    border: 1px solid #F7F7F7;
    box-sizing: border-box;
    box-shadow: 7px 10px 40px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    display: block;
    margin-top: 26px;
}

.facts-icons__wrapper {
    display: flex;
    width: 100%;
    margin: 16px 0px 13px;
}

.facts-icons__span {
    color: #e6e6e6;
}

.facts-icons__under {
    font-weight: 200;
    font-size: 14px;
    color: #a9a9a9;
    margin: 0 auto;
}

.facts-icons__near {
    font-weight: bold;
    font-size: 14px;
    color: #f39200;
    margin-left: 10px;
}

.facts-icons__age {
    max-width: 8%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.facts-icons__group {
    max-width: 20%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.facts-icons__difficulty {
    max-width: 24%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.facts-icons__time {
    max-width: 20%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.facts-icons__under-block {
    margin-bottom: 14px;
    display: flex;
}

.quest-page__details-specification_buttons {
    display: flex;
    margin-top: 35px;
    justify-content: flex-end;
}

.button-wrapper__whatch-video {
    margin-right: 29px;
}

.whatch-video__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 151px;
    height: 42px;
    border-color: #FF473D;
    border-radius: 33px;
    border-width: 1px;
    border-style: solid;
    color: #FF473D;
    font-family: 'Futura PT';
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.5px;
    cursor: pointer;
    box-shadow: 13px 10px 26px rgba(0, 0, 0, 0.07);
}

.whatch-video__button img {
    margin: 0px 10px 0px 0px !important;
}

.questions-wrapper {
    margin: 89px 0 60px;
    padding: 21px 43px 0px;
}

.questions-wrapper p {
    margin-bottom: 24px;
}

.question-wrapper__item-wrapper {
    background: #F9F9F9;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
    cursor: pointer;
    margin-bottom: 11px;
}

.question-wrapper__item-wrapper:hover {
    background: #F9F9F9;
    border: 1px solid #F39200;
    box-sizing: border-box;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
    cursor: pointer;
    margin-bottom: 11px;
}

.question-wrapper__item-wrapper_text {
    padding: 21px 0px;
}

.question-wrapper__item-wrapper_text span {
    color: #252525;
    font-size: 16px;
}

.question-wrapper__item-wrapper_button span {
    color: #F39200;
    font-size: 35px;
}

/* FOOTER */

.footer {
    background-color: #02465C;
}

.container {
    width: 1152px;
    margin: 0 auto;
}

.footer-content__wrapper {
    padding: 35px 39px 0px;
    display: flex;
}

.footer-content__wrapper-logo {
    margin-right: 85px;
}

.footer-content__wrapper-logo img {
    width: 120px;
    height: 70px;
}

.footer-content__wrapper-links {
    width: 33%;
}

.footer-content__wrapper-links a {
    font-family: 'Futura PT';
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
}

.footer-content__wrapper-links a:hover {
    font-family: 'Futura PT';
    font-size: 14px;
    font-weight: bold;
    color: #F39200;
}

.footer-content__wrapper-links-firstrow {
    margin-top: 3px;
}

.footer-content__wrapper-links-secondrow {
    margin-top: 24px;
}

.footer-content__wrapper-links-firstrow-first {
    margin-right: 72px;
}

.footer-content__wrapper-links-firstrow-second {
    margin-right: 48px;
}

.footer-content__wrapper-links-secondrow-first {
    margin-right: 50px;
}

.footer-content__wrapper-links-secondrow-second {
    margin-right: 50px;
}

.footer-content__wrapper-form-heading {
    margin-bottom: 20px;
}

.footer-content__wrapper-form-heading span {
    font-weight: bold;
}

.footer-content__wrapper-form-forms span {
    font-family: 'Futura PT';
    font-size: 14px;
    color: #82A8B4;
}

.footer-content__wrapper-form-forms {
    display: flex;
    margin-bottom: 24px;
}

.footer-content__wrapper-form-forms-name {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.footer-content__wrapper-form-forms-mail {
    display: flex;
    align-items: center;
    margin-right: 19px;
}

.footer-content__wrapper-form-forms-regbtn {
    display: flex;
    align-items: center;
}

.footer-content__wrapper-form-name-area {
    padding: 8px 107px 11px 23px;
    cursor: text;
    background: #065169;
    border-radius: 34px;
}

.footer-content__wrapper-form-mail-area {
    padding: 7px 107px 12px 24px;
    cursor: text;
    background: #065169;
    border-radius: 34px;
}

.footer-content__wrapper-form-regbtn-btn {
    background: #F39200;
    border-radius: 34px;
    width: 140px;
    height: 32px;
    cursor: pointer;
}

.footer-content__wrapper-form-regbtn-btn span {
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
}

.footer-social-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.footer-social-buttons img {
    margin-left: 15px;
    cursor: pointer;
}

.footer-copyright {
    padding-bottom: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-copyright span {
    font-family: 'Futura PT';
    font-size: 13px;
    color: #82A8B4;
}




/* Coupone Page */

.title {
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

.title-content {
    width: 1152px;
    height: 385px;
    margin: 0 auto;
    background: url(img/Group\ 13.png) no-repeat;
}

.title-content-wrapper {
    display: flex;
    justify-content: flex-end;
}

.title-content-wrapper__text {
    width: 53.2%;
    text-align: center;
    margin-bottom: 41px;
}

.title-content-wrapper__text p {
    font-family: 'Futura PT';
    font-size: 40px;
    line-height: 51px;
    font-weight: bold;
    margin: 93px 0 12px;
}

.title-content-wrapper__text span {
    font-family: 'Futura PT Book';
    font-size: 24px;
    line-height: 31px;
    font-weight: 200;
    color: #000;
}

.title-content-wrapper__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 53.5%;
}

.title-content-wrapper__button-btn {
    background: #F39200;
    width: 158px;
    height: 42px;
    box-shadow: 13px 10px 26px rgba(0, 0, 0, 0.07);
    border-radius: 37px;
    color: #fff;
    font-family: 'Futura PT';
    font-size: 13px;
    line-height: 18px;
    font-weight: bold;
    cursor: pointer;
}


/* Product */


.product {
    background-color: #fff;
    display: flex;
    justify-content: center;
    margin-bottom: 102px;
}

.product-content {
    width: 1152px;
    margin: 0 auto;
}

.product-content-wrapper-names {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.product-content-wrapper__item p {
    font-family: 'Futura PT';
    font-size: 24px;
    line-height: 31px;
    font-weight: bold;
    margin-bottom: 15px;
}

.product-content-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.product-content-wrapper__item {
    text-align: center;
    width: 22%;
}

.product-content-wrapper__item-card {
    width: 210px;
    height: 210px;
    background: #FFFFFF;
    box-shadow: 0px 9px 54px rgba(0, 0, 0, 0.1);
    border-radius: 11px;
    margin: 0 auto;
}

.product-content-wrapper__item-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;

}

.product-content-wrapper__item-card-image img {
    height: 112px;
    object-fit: scale-down;
}

.product-content-wrapper__item-card hr {
    border: 1px solid #EEEEEE;
}

.product-content-wrapper__item-card-button {
    display: flex;
    justify-content: center;
    margin: 9px 0px;

}

.product-content-wrapper__item-card-button-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FF473D;
    box-sizing: border-box;
    box-shadow: 13px 10px 26px rgba(0, 0, 0, 0.07);
    border-radius: 37px;
    width: 117px;
    height: 34px;
    font-family: Futura PT;
    font-size: 13px;
    line-height: 18px;
    font-weight: bold;
    color: #FF473D;
}

.product-content-wrapper__item-card-button-btn img {
    margin-right: 10px;
}


/* Product-offers */


.product-offers {
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.product-offers-content {
    width: 1152px;
    margin: 0 auto;
}

.matters-block_coupone {
    background-color: #fff;
    display: flex;
    justify-content: center;
    margin-bottom: 23px;
}

.matters-block-wrapper__offer_product-offers {
    margin: 0px 0px 22px;
    display: flex;
    justify-content: space-between;
}

.matters-block-wrapper__offer-description_product-offers {
    width: 47%;
}

.matters-block-wrapper__offer-description_product-offers-wide {
    width: 51%;
}

.matters-block-wrapper__offer-description_product-offers-wide img {
    margin-bottom: 15px;
}

.matters-block-wrapper__offer-description_product-offers span {
    font-family: 'Futura PT';
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    font-weight: bold;
}

span.span-black {
    font-family: 'Futura PT';
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    color: #000000;
}

span.span-orange {
    font-family: 'Futura PT';
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    color: #f39200;
}

.matters-block-wrapper__offer-description_product-offers p {
    font-size: 14px;
    font-weight: 200;
    font-family: 'Futura PT';
    line-height: 18px;
    color: #252525;
    letter-spacing: 0.4px;
    margin: 17px 0px 36px;
}

.matters-block-wrapper__offer-description_product-offers img {
    margin-bottom: 45px;
}

p.with-photo {
    font-size: 14px;
    font-weight: 200;
    font-family: 'Futura PT';
    line-height: 18px;
    color: #252525;
    letter-spacing: 0.2px;
    margin: 12px 0px 14px;
}

.matters-block-wrapper__offer-prices_product-offers {

    background: #FFFFFF;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding: 16px 21px 16px 20px;
    margin-bottom: 38px;
}

.matters-block-wrapper__offer-prices-heading p {
    font-family: 'Futura PT Demi';
    font-size: 18px;
    margin: 0px 0px 15px;
    line-height: 23px;
}

.matters-block-wrapper__offer-prices_product-offers hr {
    border: 1px solid #ECECEC;
    margin-bottom: 20px;
}

.matters-block-wrapper__offer-prices-choise_product-offers {
    display: flex;
    justify-content: space-between;
}

.matters-block-wrapper__offer-prices-choise-leftside_product-offers {
    width: 15%;
}

.matters-block-wrapper__offer-prices-choise-leftside_product-offers_three-value {
    width: 20%;
}

.matters-block-wrapper__offer-prices-choise-leftside_product-offers p {
    font-size: 14px;
    font-weight: 200;
    font-family: 'Futura PT';
    color: #969696;
    margin: 30px 0px 0px;
    line-height: 18px;

}

.matters-block-wrapper__offer-prices-choise-leftside_product-offers_three-value p {
    font-size: 14px;
    font-weight: 200;
    font-family: 'Futura PT';
    color: #969696;
    margin: 30px 0px 0px;
    line-height: 18px;

}

.matters-block-wrapper__offer-prices-choise-rightside_product-offers {
    width: 84%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.matters-block-wrapper__offer-prices-choise-rightside_product-offers_three-value {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.matters-block-wrapper__offer-prices-choise-rightside-item {
    background: #F5F5F4;
    border-radius: 32px;
    display: inline-block;
    padding: 21px 15px;
    text-align: center;
}

.matters-block-wrapper__offer-prices-choise-rightside-item span {
    font-family: 'Futura PT';
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #252525;

}

.matters-block-wrapper__offer-prices-choise-rightside-item hr {
    border: 1px solid #E8E8E8;
    width: 20px;
    margin: 16px auto;
}

.matters-block-wrapper__offer-prices-choise-rightside-item_three-value {
    background: #F5F5F4;
    border-radius: 32px;
    display: inline-block;
    padding: 21px 11px;
    text-align: center;
}

.matters-block-wrapper__offer-prices-choise-rightside-item_three-value span {
    font-family: 'Futura PT';
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #252525;

}

.matters-block-wrapper__offer-prices-choise-rightside-item_three-value hr {
    border: 1px solid #E8E8E8;
    width: 20px;
    margin: 16px auto;
}

.matters-block-wrapper__offer-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.matters-block-wrapper__offer-icons span {
    font-family: 'Futura PT Book';
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    font-weight: 200;
    margin-right: 19px;
}

.matters-block-wrapper__offer-icons img {
    margin-left: 18px;
}

.matters-block-wrapper__offer-buttons-certificate_product-offers {
    display: flex;
}



.matters-block-wrapper__offer-buttons-certificate-btn_product-offers {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 158px;
    height: 42px;
    background-color: #F39200;
    box-shadow: 13px 10px 26px rgba(0, 0, 0, 0.07);
    border-radius: 37px;
    border-width: 0px;
    border-style: solid;
    color: #fff;
    font-family: 'Futura PT';
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.4px;
    cursor: pointer;
}

.matters-block-wrapper__offer-buttons-certificate-btn_product-offers-long {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 42px;
    background-color: #F39200;
    box-shadow: 13px 10px 26px rgba(0, 0, 0, 0.07);
    border-radius: 37px;
    border-width: 0px;
    border-style: solid;
    color: #fff;
    font-family: 'Futura PT';
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.4px;
    cursor: pointer;
}

.two-buttons-block {
    display: flex;
    align-items: center;
}

.button-wrapper__whatch-video_product-offers {
    margin-left: 27px;
    display: flex;
    align-items: center;
}

.matters-block-wrapper__offer-description_product-offers-left {
    width: 42%;
}

.matters-block-wrapper__offer-description_product-offers-right {
    width: 48%;
}

.matters-block-wrapper__offer-description_product-offers-left p {
    font-size: 14px;
    font-weight: 200;
    font-family: 'Futura PT';
    line-height: 18px;
    color: #252525;
    letter-spacing: 0.4px;
    margin: 20px 0px 35px;
}

.matters-block-wrapper__offer-description_product-offers-right p {
    font-size: 14px;
    font-weight: 200;
    font-family: 'Futura PT';
    line-height: 18px;
    color: #252525;
    letter-spacing: 0.4px;
    margin: 20px 0px 35px;
}


/* FIRMEVENTS PAGE */

.page-title {
    background-color: #FAFAFD;
}

.page-title-content {
    width: 1152px;
    margin: 0 auto;
    background: url(img/Firmevents_bg.png) no-repeat;
    background-position: 40px 57px;
}

.page-title-content-wrapper {
    display: flex;
    padding: 45px 40px;
}

.page-title-content-wrapper__text {
    width: 45%;
    margin-top: 21px;
}

.page-title-content-wrapper__text p {
    font-family: 'Futura PT';
    font-size: 40px;
    line-height: 47px;
    color: #252525;
    font-weight: bold;
    margin-bottom: 34px;
}

.span-black-slim {
    font-family: 'Futura PT Book';
    font-size: 14px;
    line-height: 18px;
    color: #252525;
    font-weight: 200;
}

.page-title-content-wrapper__picture {
    width: 55%;
}


.activity {
    background-color: #fff;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.activity-content {
    width: 1152px;
    margin: 0 auto;
}

.activity-content-wrapper {
    padding: 43px 40px 30px;
}

.activity-content-wrapper p {
    font-family: 'Futura PT';
    font-size: 30px;
    line-height: 38px;
    color: #252525;
    font-weight: bold;
    margin-bottom: 6px;
}


.activity-content-wrapper__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 35px;
}

.activity-content-wrapper__items-item {
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
    border-radius: 11px;
    height: 247px;
    width: 326px;
    background: url(img/bg_lock.png) no-repeat;
    padding: 16px 0px 23px 19px;
}

.activity-content-wrapper__items-item-wrapper {
    width: 76%;
}

.activity-content-wrapper__items-item-wrapper span {
    font-family: 'Futura PT Book';
    font-size: 12px;
    line-height: 15px;
    color: #5EAFCA;
}

.activity-content-wrapper__items-item-wrapper-content {
    margin-bottom: 20px;
}

.activity-content-wrapper__items-item-wrapper-content p {
    font-family: 'Futura PT';
    font-size: 22px;
    line-height: 28px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 27px;
}

.activity-content-wrapper__items-item-wrapper-content hr {
    width: 14px;
    border: 1px solid #2D7891;
    margin: 13px 0px 11px;
}

.activity-content-wrapper__items-item-wrapper-content-options {
    display: flex;
    align-items: center;
    margin-bottom: 9px;
}

.activity-content-wrapper__items-item-wrapper-content-options span {
    font-family: 'Futura PT Book';
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

span.span-bold {
    font-family: 'Futura PT';
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    font-weight: bold;
}

.activity-content-wrapper__items-item-wrapper-content-options img {
    margin-right: 16px;
}


.goals {
    background-color: #F8F8F8;
}

.goals-content {
    width: 1152px;
    margin: 0 auto;
}

.goals-content-wrapper {
    text-align: center;
    padding: 52px 0px 72px;
}

.goals-content-wrapper p {
    font-family: 'Futura PT';
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    font-weight: bold;
    color: #252525;
    margin-bottom: 15px;
}

.goals-content-wrapper span {
    font-family: 'Futura PT Book';
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #252525;

}

.goals-content-wrapper-points {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.goals-content-wrapper-points__table {
    text-align: left;
    background: #FFFFFF;
    box-shadow: 0px 9px 54px rgba(0, 0, 0, 0.03);
    border-radius: 11px;
    display: flex;
    justify-content: space-between;
    width: 72%;
    padding: 33px 115px 16px 83px;
}

.goals-content-wrapper-points__table-side li {
    list-style-type: disc;
    color: #F39200;
    margin-bottom: 18px;
}

.goals-content-wrapper-points__table-side span {
    font-family: 'Futura PT Book';
    font-size: 14px;
    color: #252525;
}


.teambuilding {
    background-color: #FFF;
}

.teambuilding-content {
    width: 1152px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.teambuilding-content-wrapper {
    text-align: center;
    padding: 52px 0px 0px;
    width: 62%;

}

.teambuilding-content-wrapper p {
    font-family: 'Futura PT';
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    font-weight: bold;
    color: #252525;
    margin-bottom: 20px;
}

.teambuilding-content-wrapper span {
    font-family: 'Futura PT Book';
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #252525;

}

.teambuilding-content-wrapper img {
    margin-top: 10px;
}

.teambuilding-content-wrapper span.span-black {
    font-family: 'Futura PT';
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    color: #000000;
}


.companies {
    background-color: #F8F8F8;
    display: flex;
    justify-content: center;
}

.companies-content {
    width: 1152px;
    margin: 0 auto;
}

.companies-content-wrapper {
    padding: 32px 46px 30px;
    margin-bottom: 50px;
}

.companies-content-wrapper p {
    font-family: 'Futura PT';
    font-size: 30px;
    line-height: 38px;
    color: #252525;
    font-weight: bold;
    margin-bottom: 25px;
}

.companies-content-wrapper-points {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 10px;
    padding: 0px 15px;
}

.companies-content-wrapper-points__table {
    text-align: left;
    background: #FFFFFF;
    box-shadow: 0px 9px 54px rgba(0, 0, 0, 0.03);
    border-radius: 11px;
    display: flex;
    justify-content: space-around;
    width: 73%;
    padding: 33px 34px 16px 67px;
}

.companies-content-wrapper-points__table-side li {
    list-style-type: disc;
    color: #F39200;
    margin-bottom: 17px;
    font-size: 18px;
}

.companies-content-wrapper-points__table-side span {
    font-family: 'Futura PT Book';
    font-size: 14px;
    color: #252525;
}

.companies-content-wrapper-button-wrapper__mutch-more {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mutch-more__button {
    display: flex;
    align-items: center;
    padding: 1px 144px 2px 8px;
    border: 1px solid #F39200;
    box-sizing: border-box;
    border-radius: 9px;
    color: #252525;
    font-family: 'Futura PT Book';
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 0.5px;
    cursor: pointer;
    line-height: 34px;
}

.mutch-more__button img {
    margin: 0px 13px 0px 0px !important;
}



/* BLOG PAGE */


.blog {
    background-color: #FFF;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.blog-content {
    width: 1152px;
    margin: 0 auto;
    background: url(img/Blog.png) no-repeat;
    background-position: 40px 18px;
}

.blog-content-wrapper {
    padding: 40px 39px 40px 42px;
}

.blog-content-wrapper p {
    font-family: 'Futura PT';
    font-size: 30px;
    line-height: 38px;
    color: #252525;
    font-weight: bold;
    margin-bottom: 9px;
}

.blog-content-wrapper span {
    font-family: 'Futura PT Book';
    font-size: 18px;
    line-height: 23px;
    color: #000000;

}

.blog-content-wrapper__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.blog-content-wrapper__items-item {
    background: #FFFFFF;
    box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    max-width: 344px;
    max-height: 366px;
}

.blog-content-wrapper__items-item-photo img {
    border-radius: 20px 20px 0px 0px;
}

.blog-content-wrapper__items-item-text {
    padding: 9px 20px 23px;
}

.blog-content-wrapper__items-item-text p {
    font-family: 'Futura PT';
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    color: #252525;
}

.blog-content-wrapper__items-item-text span {
    font-family: 'Futura PT Book';
    font-size: 14px;
    line-height: 18px;
    color: #252525;
}

.blog-content-wrapper__items-item-text span.span-red {
    font-family: 'Futura PT';
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #FF473D;
    cursor: pointer;
}


/* FAQ PAGE */


.faq {
    background-color: #FFF;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.faq-content {
    width: 1152px;
    margin: 0 auto;
    background: url(img/FAQ.png) no-repeat;
    background-position: 40px 26px;
}

.faq-content-wrapper {
    padding: 39px 41px 30px;
}

.faq-content-wrapper p {
    font-family: 'Futura PT';
    font-size: 30px;
    line-height: 38px;
    color: #252525;
    font-weight: bold;
    margin-bottom: 20px;
}


/* FRANCHISE PAGE */

.page-title-content_franchise {
    width: 1152px;
    height: 385px;
    margin: 0 auto;
    background: url(img/Franchise.png) no-repeat;
    background-position: 40px 36px;
}

.franchise-status-content-wrapper {
    padding: 50px 40px;
}

.franchise-status-content-wrapper p {
    font-family: 'Futura PT';
    font-size: 30px;
    line-height: 51px;
    color: #252525;
    font-weight: bold;
    margin-bottom: 34px;
}

.franchise-status-content-wrapper__items {
    background: #FFFFFF;
    box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    width: 100%;
    height: 286px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 43px 46px 51px 38px;
}

.franchise-status-content-wrapper__items p {
    font-family: 'Futura PT';
    font-size: 22px;
    line-height: 28px;
    font-weight: bold;
    color: #F39200;
    text-align: center;
    margin-bottom: 0px;
}

.franchise-status-content-wrapper__items-item-heading {
    margin-bottom: 7px;
}

.franchise-status-content-wrapper__items-item-arrow {
    height: 10px;
}

.franchise-status-content-wrapper__items-item-line {
    display: flex;
    justify-content: center;
    align-items: center;
}

.franchise-status-content-wrapper__items-item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 19px;
}

.franchise-status-content-wrapper__items-item-description {
    display: flex;
    justify-content: center;
    text-align: center;
}

.franchise-status-content-wrapper__items-item-description span {
    font-family: 'Futura PT Book';
    font-size: 14px;
    line-height: 18px;
    color: #252525;
}